@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	background-color: black;

}

*,*:before, *:after {
    box-sizing: inherit;
}

img {
	width: 100%;
	display: block;
}

.main {
	text-align: center;
}

.btn {
	text-align: center;
	font-family: arial, serif;
	text-decoration: none;
	width: 6em;
	line-height: 6em;
	border-radius: 50%;
	display: inline-block;
	transition: all 500ms linear;
}

.btn-forwards {
	background-color: green;
	color: white;
}

.btn-backwards {
	background-color: red;
	color: white;
}

.btn:hover {
	color: black;
	background-color: white;
}

.clockface {
	margin: 0 auto;
	background-image: url(../images/clock-face.svg);
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	position: relative;

}

.clockface:target .hand-hour {
	transform: rotate(360deg);
}

.clockface:target .hand-minute {
	transform: rotate(4320deg);
}


.center {
	position: absolute;
	top: calc(50% - 14px);
	left: calc(50% - 14px);
	width: 28px;
}


.hand {
	position: absolute;
	width: 14px;
}

.hand-hour {
	transform-origin: center bottom;
	width: 14px;
	left: calc(50% - 7px);
	bottom: calc(50% - 7px);
	transition: all 6s linear;
}

.hand-minute {
	transform-origin: center bottom;
	width: 14px;
	left: calc(50% - 7px);
	bottom: calc(50% - 7px);
	transition: all 6s linear;
}
